.container{
    background-image: linear-gradient(45deg,#833ab4,#fd1d1d,#fcb045);
    height: 100vh;
    }
    
    .grid-container{
        display: grid;
        grid-column-gap: 1px;
        grid-template-columns: auto auto auto;
        background-color: #171717;
        padding: 10px;
    }
    .grid-item1{
        color: white;
    }
    .grid-item2{
        color: white;
    }
    .grid-item3{
        color: white;
    }
    .grid-item4{
        color: white;
    }
    .grid-item5{
        color: white;
    }
    .grid-item6{
        color: white;
    }
    .grid-item7{
        color: white;
    }
    
    .grid-item1 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        opacity: 0.5;
    }
    
    .grid-item2 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        opacity: 0.5;
    }
    
    .grid-item3 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        opacity: 0.5;
        
    }
    
    .grid-item4 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        opacity: 0.5;
    }
    
    .grid-item5 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        opacity: 0.5;
    }
    
    .grid-item6 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        opacity: 0.5;
    }
    
    .grid-item7 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        opacity: 0.5;
    }
    
    .grid-item1{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    .grid-item2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
}

.grid-item3{
    grid-column-start: 3;
    grid-column-end: 5 ;
    padding: 50px;
}

.grid-item4{
    grid-column-start: 3;
    grid-column-end: 5;
    padding: 50px;
}

.grid-item7{
    grid-column-start: 3;
    grid-column-end: 5;
}

.grid-item1:hover{
    background-color: crimson;

}
.grid-item2:hover{
    background-color: crimson;
    
}
.grid-item3:hover{
    background-color: crimson;
    
}
.grid-item4:hover{
    background-color: crimson;
    
}
.grid-item5:hover{
    background-color: crimson;
    
}
.grid-item6:hover{
    background-color: crimson;
    
}
.grid-item7:hover{
    background-color: crimson;
}

h1:hover{
    background-color: #00FFFF;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
}